.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1{
	text-align: center center;
	font-size: 10em;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

h3{
    color: rgb(226, 226, 226);
}

body {
    background-color: #0e3120	;
}

td{
   color: rgb(22, 22, 22);
}

p{
    color: rgb(226, 226, 226);
 }

 form{
     color: rgb(226, 226, 226);
 }
 